body {
    background-color: rgb(239, 245, 239);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px; 
    margin-top: 0px; 
    padding-left: 20px;
}

.setor {
    border: solid; 
    margin: 20px; 
    padding: 20px;
    text-align: center;
}

.setor img {
    text-align: center;
}

.solucao-conflito img {
    text-align: center;
    width: 400px;
}